@import 'colors';

// // // // // // // // // // //
// // // MODAL STYLES // // //
// // // // // // // // // //

.alert__fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $base-translucent;
  z-index: 100;
}

.alert__viewport {
  background-color: $base;
  width: calc(100% - 40px);
  padding: 10px;
  box-sizing: border-box;
  color: $deep;
  box-shadow: 0 0 5px $light-deep;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.alert__info {
  margin-bottom: 18px;
}

.alert__header {
  font-size: 20px;
  text-transform: lowercase;
  text-align: center;
}

.alert__content {
  font-size: 16px;
  padding: 0 8px;
  text-align: center;
}

.alert__actions {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.alert-action__button {
  flex: 1;
  padding: 5px;
  text-transform: lowercase;
  max-width: 48%;
}

// tag deletion list styles
.delete__staging {
  text-align: left;
  max-height: 70%;
  overflow: hidden;
}

.delete-staging__header {
  background-color: $lighter-light;
  padding: 5px;
  margin-top: 5px;
}

.delete-staging__title {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
}

.delete-staging__list {
  list-style: none;
  margin: 5px 0;
  padding-left: 5px;
  font-size: 14px;
  max-height: calc(70% - 40px);
  overflow: scroll;
}

.delete-staging__list-item {
  display: flex;
  flex-direction: row;
  word-break: break-word;
  padding: 7px 0;
  border-bottom: 1px dotted $deep-accent;
  &:last-child {
    border: none;
  }
  i {
    margin-right: 5px;
  }
}

.delete-staging__checkbox {
  margin-right: 5px;
}
