@import 'colors';

// // // // // // // // // //
// // // BASE STYLES // // //
// // // // // // // // // //

#tags {
  position: absolute;
  top: 0;
  right: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: $deep;
}

.drawer {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  background-color: $deep;
  // background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  // background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  // background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  // background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  // background-image: linear-gradient(to top, #FF5722 0%, #f9f047 100%);
  // background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  background-image: linear-gradient(to top, $deep 0%, $light 100%);
}

.container {
  background-color: $base;
  padding: 5px;
  height: calc(100% - 10px);
}

button:active,
button:focus,
.button:active,
.button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.drawer-actions {
  top: 5px;
  position: absolute;
  width: 15px;
  .button {
    font-size: 24px;
    margin-bottom: 5px;
    height: 28px;
    &:hover {
      color: $light;
      cursor: pointer;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .show-settings,
  .show-tags {
    font-size: 18px;
  }
}

.button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.action-button {
  border-radius: 1px;
  border: 1px solid transparent;
  padding: 1px 4px 2px;
  text-transform: lowercase;
  &:hover {
    color: $light;
    border-color: $light;
  }
}

.drawer__content {
  width: calc(100% - 30px);
  margin-left: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer__header {
  border-bottom: 1px solid $light-light;
  position: relative;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}

.drawer__header-text {
  font-size: 15px;
  text-transform: lowercase;
  display: inline-block;
  margin: 0;
  background-color: #fff;
  padding: 0 3px;
  margin-bottom: -8px;
}
