@import 'colors';

// // // // // // // // // // //
// // // BOOKMARK STYLES // // //
// // // // // // // // // //
.create-bookmark-action__button {
  margin-right: 0;
}

.create-bookmark__tags {
  margin-top: 20px;
  padding: 3px;
  padding-top: 7px;
  border: 1px solid $mid-accent;
  position: relative;
}

.create-bookmark__tags-title {
  position: absolute;
  top: -23px;
  right: 5px;
  color: $deep;
  font-weight: bold;
  background-color: $base;
  padding: 0 5px;
  font-size: 13px;
}

.create-bookmark__tags--are_selected {
  overflow: hidden;
  white-space: pre-wrap;
}

.create-bookmark__tags--are_suggested,
.create-bookmark__tags-search {
  border-top: 1px dotted $deep-accent;
  padding-top: 10px;
  margin-top: 10px;
  position: relative;
  &:before {
    content: 'suggested';
    color: $deep-accent;
    background: $base;
    position: absolute;
    padding: 0 3px;
    top: -9px;
    left: 0;
    font-size: 12px;
    color: #aaa;
  }
}

.create-bookmark__tags-search {
  &:before {
    content: 'search';
  }
}
