@import 'colors';

// // // // // // // // // // //
// // // BOOKMARK STYLES // // //
// // // // // // // // // //
.create-bookmark__tags--are_suggested {
  border-top: 1px dotted $deep-accent;
  padding-top: 10px;
  margin-top: 10px;
  position: relative;
  &:before {
    content: 'suggested';
    color: $deep-accent;
    background: $base;
    position: absolute;
    top: -7px;
    left: 0;
    font-size: 12px;
    color: #aaa;
  }
}

.bookmark__button--is_add {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: $base;
  background-color: $light-light;
  background-image: linear-gradient(to top, $light-light 0%, $lighter-light 100%);
  cursor: pointer;
  vertical-align: text-top;
  .fa {
    font-size: 11px;
    width: 18.5px;
  }
  &:hover {
    background-color: $light;
    background-image: linear-gradient(to top, $light 0%, $light-highlight 100%);
  }
}