@import 'colors';

// // // // // // // // // // //
// // // BOOKMARK STYLES // // //
// // // // // // // // // //
.bookmark__details--is_editing {
  display: flex;
  flex-direction: column;
  &.bookmark__details {
    overflow: visible;
  }
  .bookmark__tags {
    margin-top: 0;
  }
  .bookmark__tags-title {
    display: none;
  }
}

.bookmark-action__button {
  margin-right: 0;
}

.bookmark__tags {
  margin-top: 20px;
  padding: 3px;
  padding-top: 7px;
  border: 1px solid $mid-accent;
  position: relative;
  .empty-list__message {
    margin-top: 5px;
  }
}

.bookmark__tags-title {
  position: absolute;
  top: -23px;
  right: 5px;
  color: $deep;
  font-weight: bold;
  background-color: $base;
  padding: 0 5px;
  font-size: 13px;
}

.bookmark__tags--are_selected {
  overflow: hidden;
  white-space: pre-wrap;
}

.bookmark__tags--are_suggested,
.bookmark__tags-search {
  border-top: 1px dotted $deep-accent;
  padding-top: 10px;
  margin-top: 10px;
  position: relative;
  &:before {
    content: 'suggested';
    color: $deep-accent;
    background: $base;
    position: absolute;
    padding: 0 3px;
    top: -9px;
    left: 0;
    font-size: 12px;
    color: #aaa;
  }
}

.bookmark__tags-search {
  &:before {
    content: 'search';
  }
}

.bookmark__actions {
  padding-left: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .action-button {
    margin-right: 5px;
    flex: 1;
    &:last-child {
      margin-right: 0;
    }
  }
}

.bookmark-edit__button {
  margin-left: 3px;
}

.bookmark__details {
  font-size: 12px;
  overflow: hidden;
  padding-left: 3px;
}

.bookmark-detail {
  margin: 4px 0;
  width: 100%;
  position: relative;
}

.bookmark-detail__link {
  white-space: normal;
}

.bookmark-favicon {
  height: 10px;
  margin-right: 3px;
  margin-bottom: -1px;
}

.bookmark-tags__editing {
  white-space: normal;
}

.detail-title {
  font-weight: bold;
  color: $mid-accent;
  text-transform: uppercase;
}

.bookmark-detail__tags .marquee {
  .bookmark__tag {
    cursor: default;
  }
}

.bookmark-detail__select {
  position: absolute;
  margin: 0;
  width: 230px;
  .Select-menu-outer {
    max-height: 100px;
    overflow: auto;
  }
  & + .bookmark-detail {
    margin-top: 44px;
  }
}
