// // // // // // // // // //
// // // COLORS // // //
// // // // // // // // // //

$deep: #09203f;
$deep-highlight: #204c8a;
$med-deep: rgba(9, 32, 63, 0.5);
$light-deep: rgba(9, 32, 63, 0.2);
$lighter-deep: rgba(9, 32, 63, 0.1);
$light: #5256D3; // rgb(82, 86, 211)
$light-highlight: #767BF7;
$light-light: #a9abe9; // rgba(82, 86, 211, 0.5)
$lighter-light: #e1e2f8;
$base: #fff;
$base-translucent: rgba(255, 255, 255, 0.7);
$light-accent: #ccc;
$mid-accent: #bbb;
$deep-accent: #aaa;
