@import 'colors';

// // // // // // // // // //
// // // LIST STYLES // // //
// // // // // // // // // //

.list__actions {
  height: 35px;
  transition: height 0.3s ease-in-out;
  text-align: right;
  display: flex;
  flex-direction: row;
  .button {
    height: 20px;
    vertical-align: top;
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
    box-sizing: content-box;
    &.active,
    &:hover {
      color: $light;
      cursor: pointer;
    }
  }
  .search-tags {
    font-size: 14px;
    margin-top: 4px;
    .fa-long-arrow-left {
      margin-top: 1px;
    }
  }
}

.search-tags {
  flex: 1;
}

.list__sort {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  .button {
    width: 40px;
    font-family: monospace;
    font-size: 15px;
    i {
      font-size: 12px;
      padding-right: 2px;
    }
  }
}

.list__search {
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.tag-list__container {
  .list__actions {
    display: block;
    overflow: hidden;
    &.hidden {
      height: 0;
    }
  }
  .list__sort {
    display: inline-block;
  }
  &.tag-list--is_editing {
    .tag-list {
      max-height: 94%;
      height: 94%;
    }
    & + .bookmark-list__container {
      display: none;
    }
  }
}

.tagmarker-list {
  list-style: none;
  margin-top: 5px;
  overflow: scroll;
  width: 100%;
  padding-left: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

.tag-list {
  padding: 3px;
  border: 1px solid $mid-accent;
  transition: height 0.3s;
  max-height: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.filtered-tags__list {
  overflow: scroll;
}

.selected-tags__list:not(.empty) {
  border-bottom: 1px dotted $deep-accent;
  padding-bottom: 5px;
  margin-bottom: 5px;
  & + .filtered-tags__list {
    max-height: 196px;
  }
}

.bookmark-list__container {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  .list__actions {
    margin-top: 5px;
    min-height: 35px;
  }
}

.empty-list__message {
  font-style: italic;
  color: $light-accent;
  text-align: center;
}

.bookmark-list {
  height: 100%;
}

.bookmark {
  white-space: nowrap;
  padding-left: 15px;
  margin: 10px 0;
  &:first-child {
    margin-top: 5px;
  }
  &.active {
    .show-more {
      transform: rotate(90deg);
    }
  }
}

.bookmark__title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px 0;
  margin: 0 0 2px -15px;
  &:hover {
    border-bottom: 2px solid $deep;
    padding-bottom: 2px;
  }
}

.show-more {
  color: $mid-accent;
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 2px;
  transition: transform 0.3s;
  width: 13px;
  cursor: pointer;
}

.bookmark__item {
  border-left: 1px dotted $light-light;
  .action-button {
    margin-top: 5px;
  }
}
