@import 'colors';

// // // // // // // // // // //
// // // MODAL STYLES // // //
// // // // // // // // // //

.modal__fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $base-translucent;
}

.modal__viewport {
  background-color: $base;
  width: calc(100% - 40px);
  padding: 10px;
  box-sizing: border-box;
  color: $deep;
  box-shadow: 0 0 5px $light-deep;
  margin: auto;
  margin-top: 50px;
}

.modal__close {
  float: right;
  font-size: 16px;
}

.modal__content {
  margin-bottom: 18px;
}

.modal__header {
  font-size: 24px;
}

.modal__input {
  width: 100%;
  font-size: 14px;
  color: $deep;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid $light-light;
  transition: border 0.2s ease;
  text-align: right;
  &:focus {
    border-bottom-color: $light;
    outline: none;
  }
}

.modal__actions {
  display: flex;
  flex-direction: row;
}

.modal-action__button {
  flex: 1;
  padding: 5px;
  margin-top: 10px;
}

// bookmark modal
.create-bookmark-action__button {
  width: 33%;
  margin-top: 10px;
  padding: 5px;
  margin-right: 0;
}

.create-bookmark__tags {
  margin-top: 20px;
  padding: 3px;
  border: 1px solid $mid-accent;
}

.folder-selector {
  margin-bottom: 20px;
  .indent {
    display: inline-block;
    width: 10px;
    border-left: 1px solid black;
  }
}

// folder modal
.create-folder-action__button {
  width: 50%;
  margin-right: 0;
}
