@import 'colors';

// // // // // // // // // // //
// // // MODAL STYLES // // //
// // // // // // // // // //

.modal__fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $base-translucent;
}

.modal__viewport {
  background-color: $base;
  width: calc(100% - 40px);
  padding: 10px;
  box-sizing: border-box;
  color: $deep;
  box-shadow: 0 0 5px $light-deep;
  margin: auto;
  margin-top: 50px;
}

.modal__close {
  float: right;
  font-size: 16px;
}

.modal__content {
  margin-bottom: 18px;
}

.modal__header {
  font-size: 20px;
  text-transform: lowercase;
}

.modal__input {
  width: 100%;
  font-size: 14px;
  color: $deep;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid $light-light;
  transition: border 0.2s ease;
  &:focus {
    border-bottom-color: $light;
    outline: none;
  }
}

.modal__actions {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
}

.modal-action__button {
  flex: 1;
  padding: 5px;
  text-transform: lowercase;
  max-width: 48%;
}

.modal__warning {
  background-color: #09203f;
  color: white;
  text-align: center;
  padding-top: 0;
  height: 0;
  transition: height 0.3s ease;
  margin: 10px 0;
  &.visible {
    padding-top: 3px;
    height: 20px;
  }
}

// bookmark modal
.folder-selector {
  margin-bottom: 20px;
  // when label for selected value has indents inside, hide them
  .Select-value {
    .indent {
      display: none;
    }
  }
  .Select-option {
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }
  .indent {
    display: inline-block;
    width: 7px;
    border-bottom: 1px dotted $deep;
    height: 10px;
    margin-right: 6px;
    vertical-align: text-top;
  }
  .is-selected {
    .indent {
      border-bottom-color: #fff;
    }
  }
}

// folder modal
.create-folder-action__button {
  width: 50%;
  margin-right: 0;
}
