@import 'colors';

// // // // // // // // // // //
// // // SELECT STYLES // // //
// // // // // // // // // //

.Select{
  &.is-focused {
    &:not(.is-open) {
      &> .Select-control {
        box-shadow: none;
        border: none;
        background-color: $lighter-light;
      }
    }
    &> .Select-control {
      background-color: $lighter-light;
    }
  }
  .Select-arrow-zone:hover {
    .Select-arrow {
      border-top-color: $light;
    }
  }
  &.is-open {
    .Select-arrow {
      border-top-color: $deep;
    }
    .Select-control {
      background-color: $lighter-light;
      border: none;
      .Select-arrow {
        border-color: transparent transparent $deep;
      }
    }
  }
}

.Select-arrow-zone {
  padding-top: 5px;
}

.Select-control {
  border: none;
  border-radius: 1px;
  height: 30px;
  margin-top: 5px;
  background-color: $lighter-light;
  color: $deep;
}

.Select-input {
  height: 30px;
}

.Select-arrow {
  border-color: $deep transparent transparent;
}

.Select-menu-outer {
  border: none;
  border-radius: 0 0 2px 2px;
  background-color: $lighter-light;
  background-image: linear-gradient(to top, $light-light 0%, $lighter-light 100%);
  background-size: auto 200px;
  box-shadow: 0 7px 15px $lighter-deep;
}

.Select-option {
  background-color: transparent;
  color: $deep;
  text-align: center;
  transition: all 0.2s ease-in-out;
  margin: 5px;
  word-wrap: break-word;
  &.is-selected {
    background-color: $deep;
    color: $base;
    &.is-focused {
      background-color: $deep;
    }
  }
  &.is-focused {
    background-color: $light-deep;
    color: $base;
    text-shadow: 0px 0px 3px $med-deep;
  }
}

.Select-noresults {
  color: $deep;
  text-align: center;
}

.Select-clear-zone:hover {
  color: $deep;
}


// Filtered Tag List
.tag-list--is_editing {
  .Select-menu-outer {
    max-height: 94%;
    height: 94%;
    .Select-option {
      display: block;
      cursor: initial;
    }
  }
}
.filtered-tags__list {
  .Select.is-searchable.is-open {
    .Select-control {
      background-color: $base;
      border-bottom: 1px dotted $lighter-light;
    }
  }
  .Select-control {
    margin-top: 0;
    position: fixed;
    width: 242px;
    z-index: 2;
    margin-top: -35px;
    &:after {
      content: "\f002";
      font-family: FontAwesome;
      color: $deep;
      font-size: 14px;
      position: absolute;
      right: 10px;
      top: 7px;
    }
    &:hover {
      box-shadow: none;
    }
  }
  .Select-menu-outer {
    position: relative;
    background: transparent;
  }
  .Select-menu {
    margin-top: 35px;
    overflow: visible;
  }
  .Select-option {
    display: inline-block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    &.is-focused {
      background-color: transparent;
    }
  }
  .Select-arrow-zone {
    display: none;
  }
}
