// COLORS //
// BASE STYLES //
// LIST VIEW STYLES //
// SETTINGS VIEW STYLES //
// LOADER STYLES //
// MODAL STYLES //

// // // // // // // // // //
// // // COLORS // // //
// // // // // // // // // //

$deep: #09203f;
$deep-highlight: #204c8a;
$light-deep: rgba(9, 32, 63, 0.2);
$lighter-deep: rgba(9, 32, 63, 0.1);
$light: #5256D3; // rgb(82, 86, 211)
$light-highlight: #767BF7;
$light-light: rgba(82, 86, 211, 0.5);
$base: #fff;
$base-translucent: rgba(255, 255, 255, 0.7);
$light-accent: #ccc;
$mid-accent: #bbb;
$deep-accent: #aaa;

// // // // // // // // // //
// // // BASE STYLES // // //
// // // // // // // // // //

#tags {
  position: absolute;
  top: 0;
  right: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: $deep;
}

.drawer {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
  background-color: $deep;
  // background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
  // background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  // background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  // background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  // background-image: linear-gradient(to top, #FF5722 0%, #f9f047 100%);
  // background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  background-image: linear-gradient(to top, $deep 0%, $light 100%);
}

.container {
  background-color: $base;
  padding: 5px;
  height: calc(100% - 10px);
}

button:active,
button:focus,
.button:active,
.button:focus {
  transform: translateY(1px);
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.actions {
  top: 5px;
  position: absolute;
  width: 15px;
  button {
    font-size: 24px;
    margin-bottom: 5px;
    height: 28px;
    &:hover {
      color: $light;
      cursor: pointer;
    }
    &:last-child {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
}

.button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.drawer__content {
  width: calc(100% - 30px);
  margin-left: 25px;
  height: 100%;
}

.drawer__header {
  margin: 0;
  text-transform: uppercase;
  border-bottom: 1px solid $light-light;
  text-align: center;
  font-size: 15px;
}

// // // // // // // // // // // //
// // // LIST VIEW STYLES // // //
// // // // // // // // // // //

.lists {
  display: flex;
  flex-direction: column;
}

.tagmarker-list {
  list-style: none;
  margin-top: 5px;
  overflow: scroll;
  width: 100%;
  display: inline-block;
  padding-left: 0;
  box-sizing: border-box;
}

.tag-list {
  padding: 3px;
  border: 1px solid $mid-accent;
  flex: 7;
  transition: height 0.3s;
}

.tag-item {
  display: inline-block;
  max-width: 100%;
  .tag:hover {
    cursor: pointer;
    background-color: $light;
    background-image: linear-gradient(to top, $light 0%, $light-highlight 100%);
    .tagCount {
      color: $light;
    }
  }
}

.tag,
.bookmark-tag {
  display: inline-block;
  border-radius: 20px;
  background-color: $deep;
  background-image: linear-gradient(to top, $deep 0%, $deep-highlight 100%);
  color: $base;
  padding: 3px 5px;
  margin: 1px;
  white-space: nowrap;
  text-shadow: 0px 0px 1px $light-deep;
  &.selected {
    background-color: $light;
    background-image: linear-gradient(to top, $light 0%, $light-highlight 100%);
    .tagCount {
      color: $light;
    }
  }
}

.tagCount {
  background-color: $base;
  border-radius: 10px;
  font-size: 11px;
  padding: 0px 3px;
  color: $deep;
  text-shadow: 0px 0px 1px $lighter-deep;
}

.bookmark-list {
  flex: 13;
  margin-bottom: 0;
}

.bookmark {
  white-space: nowrap;
  padding-left: 15px;
  margin: 10px 0;
  &.active {
    .show-more {
      transform: rotate(90deg);
    }
  }
}

.bookmark__title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px 0;
  margin: 0 0 2px -15px;
  &:hover {
    border-bottom: 2px solid $deep;
    padding-bottom: 2px;
  }
}

.show-more {
  color: $mid-accent;
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 2px;
  transition: transform 0.3s;
  width: 13px;
  cursor: pointer;
}

.bookmark__details {
  font-size: 12px;
  overflow: hidden;
  border-left: 1px dotted $light-light;
  padding-left: 3px;
}

.bookmark-detail {
  margin: 4px 0;
  width: 100%;
  position: relative;
}

.bookmark-detail__link {
  white-space: normal;
}

.bookmark-favicon {
  height: 10px;
  margin-right: 3px;
  margin-bottom: -1px;
}

.bookmark-tags__editing {
  white-space: normal;
  .bookmark-tag:hover {
    background-color: $deep;
    background-image: linear-gradient(to top, $deep 0%, $deep-highlight 100%);
    cursor: pointer;
  }
}

.bookmark-tag {
  padding: 2px 5px 1px;
  background-color: $deep-accent;
  background-image: linear-gradient(to top, $deep-accent 0%, $light-accent 100%);
  font-size: 12px;
}

.bookmark-button i {
  font-size: 14px;
}

.bookmark-action__button,
.settings-action__button {
  border-radius: 0;
  padding: 1px 4px 2px;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: $light;
  }
}

.detail-title {
  font-weight: bold;
  color: $mid-accent;
  text-transform: uppercase;
}

.bookmark-detail__tags .marquee {
  .bookmark-tag {
    cursor: default;
  }
}

.bookmark-detail__select {
  position: absolute;
  margin: 0;
  width: 230px;
  & + .bookmark-detail {
    margin-top: 44px;
  }
}

// // // // // // // // // // // // // //
// // // SETTINGS VIEW STYLES // // //
// // // // // // // // // // // // //

.settings__content {
  margin-top: 10px;
  margin-left: 7px;
  border-left: 1px dotted $light-light;
  max-height: calc(100% - 40px);
  padding-left: 5px;
  overflow: scroll;
}

.settings__text {
  margin-top: 5px;
}

.root-list {
  padding-left: 0;
  .folder-node {
    cursor: pointer;
    &.active {
      & > .folder-name .fa {
        transform: rotate(90deg);
      }
      & > .folder-list {
        height: auto;
      }
    }
  }
  .folder-list {
    padding-left: 10px;
    height: 0;
    overflow: hidden;
    // transition: height 0.3s;
  }
}

.folder-list {
  list-style: none;
}

.folder-name {
  cursor: pointer;
  margin-bottom: 3px;
  display: block;
  &:hover {
    margin-bottom: 1px;
    border-bottom: 2px solid $deep;
  }
  .show-more {
    margin-right: 5px;
    width: auto;
  }
  input {
    cursor: pointer;
  }
}

.folder-actions {
  float: right;
}

.add-folder {
  font-size: 15px;
  margin-left: 3px;
  color: $deep;
  &:hover {
    color: $light;
  }
}

.create-folder__input {
  width: 100%;
  font-size: 16px;
}

.create-folder-action__button {
  width: 50%;
  margin-top: 10px;
  padding: 5px;
  &:hover {
    background-color: $deep;
    color: $base;
  }
}

// // // // // // // // // // //
// // // LOADER STYLES // // //
// // // // // // // // // //

.loader-container {
  width: calc(100% - 10px);
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.loader {
  border: 4px solid $light-accent;
  border-top: 4px solid $deep;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// // // // // // // // // // //
// // // MODAL STYLES // // //
// // // // // // // // // //

.modal__fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $base-translucent;
}

.modal__viewport {
  background-color: $base;
  width: calc(100% - 40px);
  padding: 10px;
  box-sizing: border-box;
  color: $deep;
  box-shadow: 0 0 5px $light-deep;
  margin: auto;
  margin-top: 50px;
}

.modal__close {
  float: right;
  font-size: 16px;
}

.modal__content {
  margin-bottom: 18px;
}
