#tags {
  position: absolute;
  top: 0;
  right: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.drawer {
  z-index: 1;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
}

button:active,
button:focus {
  transform: translateY(1px);
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.actions {
  top: 5px;
  position: absolute;
  width: 15px;
  button {
    font-size: 24px;
    &:hover {
      color: skyblue;
      cursor: pointer;
    }
  }
}

.button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.lists {
  width: calc(100% - 30px);
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tagmarker-list {
  list-style: none;
  margin-top: 0;
  overflow: scroll;
  width: 100%;
  display: inline-block;
  padding-left: 0;
  box-sizing: border-box;
}

.tag-list {
  height: 35%;
  padding: 3px;
  border: 1px solid #bbb;
  flex: 7;
}

.tag-item {
  display: inline-block;
  max-width: 100%;
  .tag:hover {
    cursor: pointer;
    background-color: violet;
    .tagCount {
      color: violet;
    }
  }
}

.tag,
.bookmark-tag {
  display: inline-block;
  border-radius: 20px;
  background-color: pink;
  color: #fff;
  padding: 3px 5px;
  margin: 1px;
  white-space: nowrap;
  &.selected {
    background-color: violet;
    &:hover {
      background-color: skyblue;
      .tagCount {
        color: skyblue;
      }
    }
    .tagCount {
      color: violet;
    }
  }
  &.highlighted {
    background-color: skyblue;
    .tagCount {
      color: skyblue;
    }
  }
}

.tagCount {
  background-color: #fff;
  border-radius: 10px;
  font-size: 11px;
  padding: 0px 3px;
  color: pink;
}

.bookmark-list {
  flex: 13;
  margin-bottom: 0;
}

.bookmark {
  white-space: nowrap;
  padding-left: 15px;
  margin: 10px 0;
  &.active {
    .show-more {
      transform: rotate(90deg);
    }
  }
}

.bookmark-title {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  cursor: pointer;
  padding: 4px 0;
  margin: 0 0 2px -15px;
  &:hover {
    border-bottom: 2px solid pink;
    padding-bottom: 2px;
  }
}

.show-more {
  color: #bbb;
  background: transparent;
  border: none;
  padding: 0;
  margin-right: 2px;
  transition: transform 0.3s;
  width: 13px;
  cursor: pointer;
}

.bookmark-info {
  font-size: 12px;
  overflow: hidden;
  border-left: 1px dotted #ccc;
  padding-left: 3px;
}

.bookmark-info__detail {
  margin: 4px 0;
  width: 100%;
}

.bookmark-info__link {
  white-space: normal;
}

.bookmark-tags__editing {
  white-space: normal;
}

.bookmark-tag {
  padding: 2px 5px 1px;
  background-color: #aaa;
  font-size: 12px;
  &:hover {
    background-color: pink;
  }
}

.bookmark-button i {
  margin-left: 4px;
  font-size: 14px;
}

.bookmark__action-button {
  border-radius: 0;
  padding: 1px 4px 2px;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.detail-title {
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
}
